h1{
    font-family: 'Fahkwang', sans-serif;
    text-align:center;
    background-color: red;
    border: 10px solid brown;
    padding: 15px;
}
.main-container{
    display:flex;
    justify-content: center;
    font-size:29px;
}
.main-container{
    display:flex;
    justify-content:space-around;
    
}
.text1{
    font-family: 'Libre Baskerville', serif;
    background-color:yellow;
    width:350px;
}
.text2{
    font-family: 'Libre Baskerville', serif;
    background-color:blue;
    width:350px;
}
.menu{
    
}


        